In [1]:
import os
import pandas as pd

In [2]:
cwd = os.getcwd()
BASE_DIR =  os.path.dirname(cwd)
DATA_DIR =  os.path.join(BASE_DIR, 'data')

In [3]:
os.listdir(DATA_DIR)

['2004.csv',
 '2012.csv',
 '2018.csv',
 '2013.csv',
 '2019.csv',
 '2016.csv',
 '2000.csv',
 '2003.csv',
 '2002.csv',
 '2010.csv',
 '2001.csv',
 '2020.csv',
 '2005.csv',
 '2017.csv',
 '2015.csv',
 '2011.csv',
 '2014.csv']

In [4]:
my_data = os.path.join(DATA_DIR, '2020.csv')
print(os.path.exists(my_data))

True

In [5]:
df = pd.read_csv(my_data)

In [6]:
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Bad Boys for Life,"$425,514,702","$204,417,855",48%,"$221,096,847",52%
1,2,Sonic the Hedgehog,"$306,766,470","$146,066,470",47.6%,"$160,700,000",52.4%
2,3,Dolittle,"$227,908,130","$77,047,065",33.8%,"$150,861,065",66.2%
3,4,Birds of Prey: And the Fantabulous Emancipatio...,"$201,858,461","$84,158,461",41.7%,"$117,700,000",58.3%
4,5,The Invisible Man,"$124,549,496","$64,914,050",52.1%,"$59,635,446",47.9%

In [7]:
df.tail()

    Rank          Release Group Worldwide  Domestic      % Foreign   %.1
27    28                 Burden  $139,270  $139,270   100%       -     -
28    29     14 Days, 12 Nights  $122,806  $122,530  99.8%    $276  0.2%
29    30              First Cow  $101,068  $101,068   100%       -     -
30    31                    Run    $4,052         -      -  $4,052  100%
31    32  A Quiet Place Part II      $163         -      -    $163  100%